<div class="container">
    <h3>Lista de Tarefas</h3>
    <mat-accordion>
    @for (tarefa of dataSource; track tarefa) {
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> {{tarefa.titulo}} </mat-panel-title>
              <mat-panel-description> {{tarefa.data_vencimento}} </mat-panel-description>
            </mat-expansion-panel-header>
            <p> {{tarefa.descricao}} </p>
          </mat-expansion-panel>
        } 
    @empty {
        <li>There are no items.</li>
    }
    </mat-accordion>
</div>