<div class="row">
    <span class="h3">Adicionar Tarefas</span>
</div>
<form [formGroup]="tarefaFormGroup" class="mt-4">
    <div class="orw">
        <mat-form-field class="col-12">
            <mat-label>Título</mat-label>
            <input matInput type="text" formControlName="titulo">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput type="text" formControlName="descricao">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Data de Vencimento</mat-label>
            <input matInput formControlName="data_vencimento" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <label>Status: </label>
        <mat-radio-group formControlName="status">
            <mat-radio-button [checked]="true" [value]="0" class="">Pendente</mat-radio-button>
            <mat-radio-button [value]="1">Em andamento</mat-radio-button>
            <mat-radio-button [value]="2">Concluída</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <button mat-button (submit)="saveTarefa()" class="btn btn-outline-dark d-flex">Salvar</button>
    </div>
</form>
